@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic);

@font-face {
    font-family : "HandOfSean";
    src : url(/fonts/HandOfSean/handsean.eot);
    src : url(/fonts/HandOfSean/handsean.eot) format('embedded-opentype'),
          url(/fonts/HandOfSean/handsean.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Liberator";
    src : url(/fonts/Liberator/Liberator.eot);
    src : url(/fonts/Liberator/Liberator.eot) format('embedded-opentype'),•
          url(/fonts/Liberator/Liberator.ttf) format('truetype'),
          url(/fonts/Liberator.otf) format('opentype');
    font-weight: normal;
    font-style : normal;
}

body {
    background: url('../img/starry-sky.jpeg') no-repeat fixed center;
}

.skyport-logo {
    background: url('../img/logos/skyport-logo.png') no-repeat center;
}

.appfuel-logo {
    background: url('../img/logos/appfuel-logo.png') no-repeat center;
    background: url('../img/logos/appfuel.svg') no-repeat center;
}

.tune-logo {
    background: url('../img/logos/tune-logo.png') no-repeat center;
}

.adconnect-logo {
    background: url('../img/logos/adconnect-logo.png') no-repeat center;
}
