a,
a:hover {
  text-decoration: none;
  -webkit-text-decoration: none;
  font-weight: 300;
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  margin: 0;
}
body div.mdl-layout__container {
  height: auto;
}
.mdl-card {
  z-index: 2;
}
.italic {
  font-style: italic;
}
.invisible {
  visibility: hidden;
}
.text-shadow {
  text-shadow: 1px 1px #333333;
}
body .wrapper {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 300;
  top: 0;
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: 300;
}
body .background {
  position: absolute;
  height: 2400px;
  background-size: 1000px 1667px;
  background-color: black;
  width: 100%;
  top: 0;
}
body .content {
  width: 100%;
}
body h1 {
  font-size: 10em;
}
body h2 {
  font-size: 2em;
}
.wrapper {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.wrapper .wrapper-content {
  max-width: 1000px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .wrapper-content section {
  margin: 5em;
}
.wrapper .wrapper-content section .mdl-card__title.mdl-cell--12-col {
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrapper .wrapper-content section.header {
  padding: 7em 0;
  text-align: center;
}
.wrapper .wrapper-content section.header h2,
.wrapper .wrapper-content section.header h1 {
  text-shadow: 1px 1px black;
}
.wrapper .wrapper-content section.whoAreWe .content {
  text-align: center;
  background-color: #3c63ac;
  padding-top: 10px;
}
.wrapper .wrapper-content section.whoAreWe .content .info-title {
  padding: 2em 0;
  margin: 0;
  padding-bottom: 2.2em;
}
.wrapper .wrapper-content section.whoAreWe .content .intro-content {
  padding: 2em 0.5em;
  width: 800px;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .wrapper-content section.whoAreWe .content .bio-content .expand-bio-btn {
  text-decoration: underline;
  cursor: pointer;
  padding: 1em 0.5em;
  font-size: 2em;
}
.wrapper .wrapper-content section.whoAreWe .content .bio-content .extended-bio-content {
  display: none;
  padding: 0 2.2em;
  font-size: 1.1em;
  padding-bottom: 2.5em;
}
.wrapper .wrapper-content section.whoAreWe .content .bio-content .extended-bio-content p {
  font-size: 0.8em;
}
.wrapper .wrapper-content section.whoAreWe .content .bio-content .extended-bio-content p a {
  text-decoration: underline;
  font-weight: 500;
}
.wrapper .wrapper-content section.whoAreWe .content .portrait {
  background-color: transparent;
}
.wrapper .wrapper-content section.whoAreWe .content .portrait a {
  padding-bottom: 16px;
}
.wrapper .wrapper-content section.whoAreWe .content .portrait label {
  padding-bottom: 5px;
}
.wrapper .wrapper-content section.whoAreWe .content .portrait .portrait-img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: 100%;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: white;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.wrapper .wrapper-content section.whoAreWe .content .portrait .rex {
  background-position-x: -1em;
}
.wrapper .wrapper-content section.whoAreWe .content .portrait .andrew {
  background-color: #c5c4c8;
}
.wrapper .wrapper-content section.whoAreWe .content a {
  color: white;
}
.wrapper .wrapper-content section.impacts .content.mdl-card {
  border-radius: 0;
}
.wrapper .wrapper-content section.impacts .impacts-content {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #d7d7d9;
}
.wrapper .wrapper-content section.impacts .impacts-content .skyport {
  background: #041331;
}
.wrapper .wrapper-content section.impacts .impacts-content .skyport .skyport-logo {
  width: 100%;
  background-size: 150px;
  height: 100px;
}
.wrapper .wrapper-content section.impacts .impacts-content .tune {
  background: white;
}
.wrapper .wrapper-content section.impacts .impacts-content .tune .tune-logo {
  width: 100%;
  background-size: 150px;
  height: 100px;
}
.wrapper .wrapper-content section.impacts .impacts-content .appfuel {
  background: #505a60;
}
.wrapper .wrapper-content section.impacts .impacts-content .appfuel .appfuel-logo {
  width: 100%;
  background-size: 150px;
  height: 100px;
}
.wrapper .wrapper-content section.impacts .impacts-content .adconnect {
  background: #eff0f2;
}
.wrapper .wrapper-content section.impacts .impacts-content .adconnect .adconnect-logo {
  width: 100%;
  background-size: 150px;
  height: 100px;
}
.wrapper .wrapper-content section.impacts .impacts-content .article {
  background: white;
  color: black;
}
.wrapper .wrapper-content section.impacts .interests-content {
  padding-top: 40px;
  width: auto;
  font-size: 1.3em;
  background-color: #d7d7d9;
  color: black;
}
.wrapper .wrapper-content section.impacts .interests-content .mdl-grid .mdl-cell h4 {
  margin-top: 10px;
}
.wrapper .wrapper-content section.impacts .interests-content .wide-1 div {
  padding: 1.7em 0em;
  background: white;
  text-align: center;
}
@media (min-width: 840px) {
  .wrapper .wrapper-content section.impacts .interests-content .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    width: 100%;
  }
}
.wrapper .wrapper-content section.impacts .interests-content .reach-out-card {
  background-color: #d7d7d9;
}
.wrapper .wrapper-content section.impacts .interests-content .reach-out-card .mdl-grid {
  margin: 0;
  padding: 0;
}
.wrapper .wrapper-content section.impacts .interests-content .reach-out-card .wide-1 {
  margin: 8px 0;
  position: relative;
}
.wrapper .wrapper-content section.impacts .interests-content .expertise-card {
  background-color: #d7d7d9;
}
.wrapper .wrapper-content section.impacts .interests-content .expertise-card .mdl-grid {
  margin: 0;
  padding: 0;
}
.wrapper .wrapper-content section.impacts .interests-content .expertise-card .wide-1 {
  margin: 0;
  margin: 8px 0;
  position: relative;
}
.wrapper .wrapper-content section.impacts .interests-content .interests-card {
  background-color: #d7d7d9;
}
.wrapper .wrapper-content section.impacts .interests-content .interests-card .mdl-grid {
  margin: 0;
  padding: 0;
}
.wrapper .wrapper-content section.impacts .friends-content {
  padding-top: 40px;
  background-color: #d7d7d9;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 {
  color: black;
  text-align: center;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 div {
  width: 100%;
  background-size: 95%;
  height: 124px;
  background-color: white;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .mcgill {
  background-size: 77%;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .mirror {
  background-color: #1f478c;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .makeschool {
  background-size: 150%;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .stanford {
  background-color: #b21024;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .universe {
  background-color: #3bbeff;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .cloudtenna {
  background-color: #4b87b4;
}
.wrapper .wrapper-content section.impacts .friends-content .wide-1 .chinaccelerator {
  background-size: 120%;
  background-position-x: 2px;
}
.wrapper .wrapper-content section.impacts .journeys-content {
  padding-top: 40px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #d7d7d9;
}
.wrapper .wrapper-content section.impacts .journeys-content .wide-1 div {
  background-color: white;
  text-align: center;
  background-size: 86%;
  height: 86px;
  width: 100%;
}
.wrapper .wrapper-content section.impacts .journeys-content .wide-1 .techco {
  background-size: 80%;
}
.wrapper .wrapper-content section.impacts .journeys-content .wide-1 .adexchanger {
  background-size: 60%;
}
.wrapper .wrapper-content section.impacts .journeys-content .wide-1 .sina {
  background-size: 60%;
}
.wrapper .wrapper-content section.impacts .journeys-content .wide-1 .techcrunch {
  background-size: 94%;
}
.wrapper .wrapper-content section.impacts .journeys-content .wide-1 .scmp {
  background-size: 70%;
}
@media (max-width: 800px) {
  section {
    margin: 0 !important;
    padding: 1em;
  }
  section.whoAreWe .content .portrait-content {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  section.whoAreWe .content .portrait-content .portrait {
    -webkit-flex-basis: 50% !important;
    -moz-flex-basis: 50% !important;
    flex-basis: 50% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 200px;
  }
  .appfuel {
    border: 1px solid black;
  }
  section.interests .content {
    font-size: 0.8em !important;
  }
  section.interests .content h4 {
    font-size: 1.5em;
  }
}
@media (max-width: 450px) {
  .wrapper .wrapper-content section {
    margin: 2em;
  }
  section.header h1 {
    font-size: 7em;
  }
  section.whoAreWe .content .portrait-content .portrait {
    -webkit-flex-basis: 100% !important;
    -moz-flex-basis: 100% !important;
    flex-basis: 100% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 200px;
  }
}
